<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
    <script>
        async function main() {
            const res = await fetch("http://localhost:3001/handwriting", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    fullname: "Nezrin Quliyeva2333"
                })
            });
        }

        main();
    </script>
</body>
</html>
